body {
  text-align: center;
  transition: 0.1s;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}


/*****JQUERY OVERRIDE*****/

.ui-panel {
    width: initial;
}

/*************************/

.row{
    height: 15px;
}

.row:nth-child(2n) {
    left: 7px;
    position: relative;
}

.box {
  border: 1px solid #CCC;
  height: 14px;
  width: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 2px;
}

.pick {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0.50vw;
    border: 1px solid #DDD;
}

.selected {
    border: 1px solid #333;
}
