body {
  text-align: center;
  transition: 0.1s;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body{
     max-width:100%;
     max-height:100%;
     overflow:hidden;
}


/*****JQUERY OVERRIDE*****/

.ui-panel {
    width: initial;
    max-width: 140px;
}

.ui-btn, .ui-page-theme-a a {
    font-size: 12px;
    font-weight: initial;
    text-decoration: none;
}

.ui-content {
    font-size: 0.8em;
}



/*************************/

.row{
    height: 15px;
}
.rowP{
    height: 17px;
}

.row:nth-child(2n) {
    left: 8px;
    position: relative;
}
.rowP:nth-child(2n) {
    left: 0px;
    position: initial;
}

.box {
  border: 1px solid #CCC;
  height: 14px;
  width: 16px;
  display: inline-block;
  margin: 0;
  /*border-radius: 2px;*/
}
.boxP {
  border: 1px solid #CCC;
  height: 16px;
  width: 14px;
  display: inline-block;
  margin: 0;
  border-radius: 2px;
}
.boxP:nth-child(2n) {
    top: 8px;
    position: relative;
}

.pick-color {
    text-align: left;
}

.pick {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0.50vw;
    border: 1px solid #DDD;
}

.selected {
    border: 1px solid #333;
}

.beadDir{
	content: '';
    display: block;
    width: 19px;
    height: 15px;
    background-color: red;
    border-radius: 5px;
}
.peyote{
	width: 15px;
    height: 19px;
}
