body {
  text-align: center;
  transition: 0.1s;
  font-family: Helvetica, sans-serif;
  margin: 3vw auto;
  width: 95vw;
  min-width: 400px;
}

.row:nth-child(2n) {
    left: 1.2vw;
    position: relative;
}

.box {
  border: 1px solid #CCC;
  height: 2vw;
  width: 2.4vw;
  display: inline-block;
  border-radius: 0.2vw;
  margin: -0.25vw 0vw;
}

.pick {
    display: block;
    width: 1vw;
    height: 1vw;
    border-radius: 1vw;
    margin: 0.50vw;
}

.select-color {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: black;*/
  height: 6vw;
  width: 17vw;
  font-size: 1.50vw;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.not-selected{
  color: #2D2D2D;
  /*border-bottom: 1vw solid #2D2D2D !important;*/
}
